body {
	font: 16px sans-serif;
	background-color: #FBE7FD;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1); 
}
header {
	margin-top: 800px;
}
/*____login menu*/

.display_none {
	display: none;
}

.header-account__menu ul {
	height: 20px;
	margin-bottom: 60px;
	overflow: hidden;
}

.header-account__menu ul:hover {
	height: 80px;
	overflow: visible;
	margin-bottom: 0;
}

.header-account__menu ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: red;
}
.header-account__menu ul li a:hover {
	color: blue;
}

/*--------------------Header-----------------------*/
.header_wrap {
	padding-top: 5px;
}

.header-register, .header-navigation {
	max-width: 1200px;
	margin: 5px auto 0;
	display: flex;
	justify-content: space-between;
}

.header-register__phone {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 200px;
	line-height: 1;
	
}

.phone_icn img {
	display: block;
}

.phone_number {
	font-size: 13px;
}

.header-register__menu {
	display: flex;
	align-items: center;
}

.register__menu-list {
	display: flex;
	justify-content: space-around;
	width: 600px;
}

.register__menu-item {
	display: flex;
	align-items: center;
}

.menu-row::after {
	content:"|";
	margin: 0 0 0 28px;
}

.register__menu-item a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	height: 14px;
	line-height: 1; 
}

.register__menu-item a:hover {
	color: red;
	transform: scale(1.1);
}

.header-navigation__menu, .header-navigation__logo,
 .header-navigation__social {
	width: 30%;
	margin: auto;
}
.header-navigation__logo {
	width: 40%;
}

.navigation__menu-list {
	display: flex;
	justify-content: space-around;
}

.navigation__menu-link {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	text-decoration: none;
	color: #000;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.navigation__menu-link:hover {
	color: #A50215;
	text-decoration: underline;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, .1);
}

.navigation__logo-link {
	font-family: 'Pacifico', cursive;
	font-size: 55px;
	color: #9127A9;
	display: flex;
	justify-content:center;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
.navigation__logo-link:hover {
	color: #B238D0;
	text-decoration: none;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, .2);
}

.header-navigation__social {
	display: flex;
	justify-content: space-around;
}

.navigation__social-list {
	display: flex;
}

.navigation__social-item {
	padding: 0 5px;
}

.facebook, .twitter, .youtube, .email  {
	display: block;
	width: 48px;
	height: 48px;
}

.facebook:hover , .twitter:hover , 
 .youtube:hover , .email:hover {
	transition: all .25s ease-in-out;
}

.facebook {
	background-image: url(../img/social_facebook.png);
}

.twitter {
	background-image: url(../img/social_twitter.png);
}

.youtube {
	background-image: url(../img/social_youtube.png);
}

.email {
	background-image: url(../img/social_email.png);
}

.facebook:hover {
	background-image: url(../img/if_facebook_hover.png);
}

.twitter:hover {
	background-image: url(../img/if_twitter_hover.png);
}

.youtube:hover {
	background-image: url(../img/if_youtube_hover.png);
}

.email:hover {
	background-image: url(../img/if_email_hover.png);
}

.header-navigation__leng {
	display: flex;
	align-items: center;
}

.navigation__leng-item a {
	display: #333;
	padding: 4px 8px;
	color: #f2f2f2;
	background-color: black;
	text-decoration: none;
}

.navigation__leng-item a:hover {
	background-color: #E5E5E5;
	color: #333;
	transition: all .2s ease-in-out;
}

.arrow_down {
	position: absolute;
	left: 50%;
	margin-left: -180px;
	width: 0;
	height: 0;
	border: 180px solid transparent;
	border-top: 45px solid #FBE7FD;
}

/*--------------------MAIN-----------------------*/
/*--------------------title-----------------------*/
.title_wrap {
	background: url(../img/main_banner-1.jpg) no-repeat center;
	
}

.title {
	position: relative;
	height: 850px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-info_border {
	border: 4px solid #F20CEA;
	padding: 7px;
	margin: 35px 0;
}

.title-info_text {
	border: 1px solid #F20CEA;
	padding: 25px 15px;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-around;
	background-color: rgba(0,0,0, .5);
}

.title-info_text h3, .info-text_band{
	color:#FFF;
	line-height: 1;
	padding: 2px 4px; 
	font-size: 26px;
	text-transform: uppercase;
}

.info-text_band {
	position: relative;
}

.info-text_band::after, .info-text_band::before {
	content:'';
	position: absolute;
	display: block;
	top:42%;
	height: 3px;
	width: 15px;
	background-color:#F20CEA;
}

.info-text_band::after {
	right: -20%;
}
.info-text_band::before {
	left:-20%;
}

h1 {
	color: #F3B134;
	font-size: 75px;
	padding: 5px 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.info_text-bonus {
	color: #F3B134;
	padding: 10px 0 0 0;
	text-transform: uppercase;
	font-size: 28px; 
}

.title-info_button {
	display: flex;
	justify-content: center;
	margin-top: 45px;
}

.title-info_button a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 25px;
	background-color: #F09D66;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 3px 3px 3px rgba(150, 150, 150, .8);
}

.title-info_button a:hover {
	background-color: #fff;
	color: #F09D66;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	transition: all .1s ease-in-out;
}

.title-info_pagination {
	position: absolute;
	bottom:35px;
	left: 50%;
	margin-left: -70px;
}

.info_pagination_list {
	display: flex;
	justify-content: center;
}

.info_pagination_list li {
	padding: 9px;
}

.info_pagination_list li a {
	display: block;
	height: 0;
	width: 0;
	border:14px solid transparent;
	border-bottom:14px solid #B30E97;
}

.info_pagination_list li .pagin_hover {
	border-bottom:14px solid #FA60F2;
}

/*-------------------For_client--------------------------*/
.client_hover:hover {
	background-color: #23D1E1;
}

.client_free:hover::after {
	border-left: 40px solid #23D1E1;
}

.client_support:hover::before {
	border-right: 40px solid #23D1E1;
}

.client_wrap {
	display: flex;
	justify-content: center;
	background-color: #FBE7FD;
}

.client {
	margin: 80px 0;
	background-color: #FBE7FD;
	width: 1200px;
	float: left;
	display: flex;
	justify-content: space-between;
}

.client_free, .client_support {
	width: 26%;
	background-color: #E5BF8E;
	display: flex;
	position: relative;
}

.client_free::after {
	content: '';
	position: absolute;
	right: -40px; top:0;
	border-top: 42px solid transparent;
	border-bottom: 42px solid transparent;
	border-left: 40px solid #E5BF8E;
}

.client_returns {
	width: 36%;
	padding: 0 20px;
	background-color: #E5BF8E;
	display: flex;
	justify-content: center;
	position: relative;
}

.client_returns::before {
	content:'';
	position: absolute;
	border-top: 42px solid transparent;
	border-bottom: 42px solid transparent;
	border-left: 45px solid #FBE7FD;
	left: 0; top: 0;
}

.client_returns::after {
	content:'';
	position: absolute;
	border-top: 42px solid transparent;
	border-bottom: 42px solid transparent;
	border-right: 45px solid #FBE7FD;
	right: 0; top: 0;
}

.client_support::before {
	content: '';
	position: absolute;
	left: -40px; top:0;
	border-top: 42px solid transparent;
	border-bottom: 42px solid transparent;
	border-right: 40px solid #E5BF8E;
}


.free__icn, .returns__icn, .support__icn {
	width: 64px;
	height: 64px;
	margin: 10px;
	display: block;
}

.free__icn {
	background: url(../img/plane_icn.png) no-repeat;
}

.returns__icn {
	background: url(../img/clock_icn.png) no-repeat;
}

.support__icn {
	background: url(../img/support_icn.png) no-repeat;
}

.free__text, .returns__text, .support__text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.client h4 {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.client h5 {
	color: #f2f2f2;
	text-transform: capitalize;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, .8);
}

/* <!------------- Collection ----------------> */

.collection_wrap, .autumn {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #FBE7FD;
}

.name_categories {
	position: relative;
	margin: 50px 0;
	font-size: 28px;
	font-family: 'Kaushan Script', cursive;
}

.name_categories::after, .name_categories::before {
	content:"";
	position: absolute;
	height: 10px;
	width: 10px;
	transform: rotate(45deg);
	background-color: red;
	top: 50%;
	margin-top:-5px;
}

.name_categories::after {
	margin-left: -50px;
}

.name_categories::before {
	right: -50px;
}

.handpicked {
	margin-bottom: 50px;
	display: flex;
}

.handpicked_box {
	border:1px solid black;
	padding:10px;
	display: flex;
}

.box_side_up {
	border: 3px solid black;
	background: grey;
	height: 400px;
	margin-bottom: 10px;
}

.box_side_down {
	background: #23D1E1;
	height: 400px;
	width: 400px;
	border: 3px solid black;
}

.box_midl-text {
	border: 2px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: 100%;
	font-weight: bold;
}

.box_midl-text_up {
	color: #000;
	font-family: 'Kaushan Script', cursive;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.box_midl-text_down {
	color: #f2f2f2;
	text-transform: uppercase;
	font-size: 39px;
	margin-top: 20px;
}

.sammer_img-1 {
	background: url(../img/sammer_img-1.jpg) no-repeat;
	background-size: cover;
}.sammer_img-2 {
	background: url(../img/sammer_img-2.jpg) no-repeat;
	background-size: cover;
}.sammer_img-3 {
	background: url(../img/sammer_img-3.jpg) no-repeat;
	background-size: cover;
}.sammer_img-4 {
	background: url(../img/sammer_img-4.jpg) no-repeat;
	background-size: cover;
}

/*---------- Automn----------- */

.autumn {
	margin: 50px 0;
}

.automn_down {
	margin-top: 20px;
}

.autumn_top ul,
 .automn_down ul {
	display: flex;
	justify-content: space-between;
}

.autumn_top ul li a,
 .automn_down ul li a {
	height: 300px;
	width: 200px;
	border: 2px solid black;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	position: relative;
}

.autumn_top ul li a:hover, 
 .automn_down ul li a:hover {
	opacity: .8;
}

.autumn_top ul li a .add_to_card,
 .automn_down ul li a .add_to_card {
	align-self: flex-end;
	background-color: black;
	padding: 10px 5px;
	line-height: 1;
	position: relative;
}

.autumn_top ul li a .add_to_card::before,
 .automn_down ul li a .add_to_card::before {
	content:"";
	position: absolute;
	border: 17px solid transparent;
	border-right: 17px solid black;
	border-bottom: 17px solid black;
	left:-34px;top:0;
}

.autumn_top ul li a .add_to_card::after,
 .automn_down ul li a .add_to_card::after {
	content:"";
	position: absolute;
	border: 17px solid transparent;
	border-left: 17px solid black;
	border-bottom: 17px solid black;
	right:-34px;top:0;
}

.autumn_top ul li a .add_to_card:hover,
	.automn_down ul li a .add_to_card:hover {
	background-color: #FF9758
}

.autumn_top ul li a .add_to_card:hover::after,
	.automn_down ul li a .add_to_card:hover::after {
	border-left: 17px solid #FF9758;
	border-bottom: 17px solid #FF9758;
}

.autumn_top ul li a .add_to_card:hover::before,
 .automn_down ul li a .add_to_card:hover::before {
	border-right: 17px solid #FF9758;
	border-bottom: 17px solid #FF9758;
}

.bonus_20, .bonus_30, .bonus_40 {
	position: absolute;
	left:15px;top:15px;
	width: 44px;
	height: 44px;
	border-radius: 48%;
	padding: 5px;
	background: yellow;
	color: black;
	display: flex;
	font-size:18px;
	align-items: center;
	justify-content: center;
}

.autumn_img-1 {
	background: url(../img/autumn_img-1.jpg) no-repeat;
	background-size: cover;
}.autumn_img-2 {
	background: url(../img/autumn_img-2.jpg) no-repeat;
	background-size: cover;
}.autumn_img-3 {
	background: url(../img/autumn_img-3.jpg) no-repeat;
	background-size: cover;
}.autumn_img-4 {
	background: url(../img/autumn_img-4.jpg) no-repeat;
	background-size: cover;
}.autumn_img-5 {
	background: url(../img/autumn_img-5.jpg) no-repeat;
	background-size: cover;
}.autumn_img-6 {
	background: url(../img/autumn_img-6.jpg) no-repeat;
	background-size: cover;
}.autumn_img-7 {
	background: url(../img/autumn_img-7.jpg) no-repeat;
	background-size: cover;
}.autumn_img-8 {
	background: url(../img/autumn_img-8.jpg) no-repeat;
	background-size: cover;
}

/*BRAND____________*/
.brand ul {
	display: flex;
	width: 1200px;
	justify-content: space-between;
}

.brand ul li a {
	display: block;
	border: 1px solid #000; 
}

.brand ul li a:hover {
	background: rgba(0,0,0, .1);
}

/*feedback-____________*/

.feedback-wrap {
	display: flex;
	justify-content: center;
	background: #E5BF8E;
}

.feedback_arrow {
	position: relative;
}

.feedback {
	padding-top: 50px;
	padding-bottom: 40px;
	width: 1200px;
}

.feedback ul {
	display: flex;
	justify-content: space-between;
}

.feedback ul li {
	display: flex;
	justify-content: space-between;
}

.feedback ul li img {
	display: block;
}

.feedback__comment-text {
	padding-left: 30px;	
	padding-top: 40px;
	padding-right: 30px;
	font-size: 18px;
	color: #fff;
	font-style: italic;
}

.comment-name {
	font-size: 28px;
	color: #000;
	text-transform: capitalize;
	font-weight: bold;
	padding-top: 50px;
}

.comment-post {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	color: grey;
	font-style: normal;
	padding-top: 20px;
}

.text_right {
	text-align: right;
}

footer {
	background: black;
}

.footer_wrap {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer_content {
	display: flex;
	justify-content: center;
}

.footer_content-item {
	margin-right: 40px;
}
.footer_content-item:first-child {
	margin-left: 10px;
}
.footer_content-item:last-child {
	margin-right: 0;
}

.footer_content-name {
	text-transform: uppercase;
	font-size: 22px;
	color: #f2f2f2;
	margin-bottom: 40px;
}

.footer_content-name span {
	text-transform: lowercase;
	font-style: italic;
}

.margin_text {
	margin-top: 40px;
}

.footer_content-menu li a {
	display: block;
	color: grey;
	font-size: 15px;
	text-transform: capitalize;
	text-decoration: none;
	padding: 10px 0;
}

.footer_content-menu li a:hover {
	text-decoration: underline;
	opacity: .9;
}

.footer_input {
	background-color: black;
	padding: 10px 15px;
	color: grey;
	border:2px solid grey;
	border-radius: 3px;
	outline:none;
}

.footer_btn {
	border: none;
	padding: 10px;
	background: #333;
	color: #fff;
	outline:none;
}

.footer_btn:hover {
	background: #444;
}

.footer_arrow {
	height: 3px;
	width: 100%;
	position: relative;
	background: #222;
	margin: 50px 0 20px 0;
}

.footer_arrow::after {
	content: "";
	position: absolute;
	top:3px; left:48%; 
	border: 10px solid transparent;
	border-top: 10px solid #222;
}

.jaerbi {
	text-shadow: none;
	color: #666;
	padding: 20px 0;
	text-align: center;
	font-size:13px;
	width: 100%;
}
